
.groupbody{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;

	background-color: transparent;
	font:inherit;

}



.buttonUnderimg{
	text-align: center;
	margin-top: 0px;
}

.pageHeader{
	  padding-bottom: 9px;
      margin: 0px 0 10px;
      border-bottom: 2px solid #000;
}

.toText{
	margin-top:10px;
}