 body{
      background-color: transparent;
      font:inherit;
    }
    .container-fluid{
      margin-top: 20px;
    }
    .imgButton{
      text-align:center;
      margin-top: 5px;
    }
    .headline {
      font-family: Calibri, "Helvetica", san-serif;
      line-height: 1.5em;
      color: black;
      font-size: 35px;
    }
    .headline:after {
      content:' ';
      display:block;
      border:2px solid #6d6868;
      border-radius:4px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
      -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
      -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    }
    #mainInfoHeader{
      font-size: 25px;
      margin-top: 10px;
    }
    .boldText{
      font-weight: bold;
    }
